In [4]:
#import packages
import pandas as pd
import csv
import seaborn as sns
import numpy as np

In [5]:
df = pd.read_csv('nys-foster.csv')
df.head(10)

,County,Year,Adoptive Home,Agency Operated Boarding Home,Approved Relative Home,Foster Boarding Home,Group Home,Group Residence,Institution,Supervised Independent Living,Other,Total Days In Care,Admissions,Discharges,Children In Care,Number of Children Served,Indicated CPS Reports
0,ALBANY,2011,0,911,6269,23187,5817,1133,24034,2149,1106,64606,125,178.0,167,335,750.0
1,ALBANY,2010,0,978,9197,32014,7384,1683,24343,1384,1377,78360,154,164.0,206,376,801.0
2,ALBANY,2009,0,914,11365,41222,6601,1761,27456,1799,1604,92722,167,219.0,219,428,793.0
3,ALBANY,2008,0,787,14728,43758,6918,3280,27883,1637,3101,102092,169,209.0,259,464,1037.0
4,ALBANY,2007,0,1722,10027,51877,5175,3702,31763,632,2199,107097,183,185.0,295,477,1177.0
5,ALBANY,2006,0,2125,6029,54178,5569,2353,38291,0,2699,111244,243,267.0,285,542,1235.0
6,ALBANY,2005,221,2777,3564,58995,9446,1914,40386,0,3938,121241,263,326.0,289,621,1339.0
7,ALBANY,2004,366,4350,2864,71173,12717,3023,41139,0,4429,140061,288,327.0,356,692,1254.0
8,ALBANY,2003,365,4773,1972,83089,11422,3136,50523,0,3377,158657,288,345.0,396,739,1286.0
9,ALBANY,2002,0,4726,2505,105425,10757,2661,55245,0,2906,184225,286,386.0,450,832,1233.0

In [6]:
#get column names
column_names = df.columns
print(column_names)

Index([u'County', u'Year', u'Adoptive Home', u'Agency Operated Boarding Home',
       u' Approved Relative Home', u' Foster Boarding Home', u' Group Home',
       u' Group Residence', u'Institution', u' Supervised Independent Living',
       u'Other', u'Total Days In Care', u'Admissions', u'Discharges',
       u'Children In Care', u'Number of Children Served',
       u'Indicated CPS Reports'],
      dtype='object')

In [7]:
#get column datatypes
df.dtypes

County                             object
Year                                int64
Adoptive Home                       int64
Agency Operated Boarding Home       int64
 Approved Relative Home             int64
 Foster Boarding Home               int64
 Group Home                         int64
 Group Residence                    int64
Institution                         int64
 Supervised Independent Living      int64
Other                               int64
Total Days In Care                  int64
Admissions                          int64
Discharges                        float64
Children In Care                    int64
Number of Children Served           int64
Indicated CPS Reports             float64
dtype: object

In [8]:
#check for unique columns
for i in column_names:
    print('{} is unique: {}'.format(i, df[i].is_unique))

County is unique: False
Year is unique: False
Adoptive Home is unique: False
Agency Operated Boarding Home is unique: False
 Approved Relative Home is unique: False
 Foster Boarding Home is unique: False
 Group Home is unique: False
 Group Residence is unique: False
Institution is unique: False
 Supervised Independent Living is unique: False
Other is unique: False
Total Days In Care is unique: False
Admissions is unique: False
Discharges is unique: False
Children In Care is unique: False
Number of Children Served is unique: False
Indicated CPS Reports is unique: False

In [9]:
#check index values
df.index.values

array([   0,    1,    2, ..., 1412, 1413, 1414])